<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Users List</h2>
  </div>
  <div class="float-right">
	<button (click)="createUser()" class="btn btn-info">Add New</button>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
		  <th>Id</th>
          <th sortable="firstName" (sort)="onSort($event)">First Name</th>
          <th sortable="lastName" (sort)="onSort($event)">Last Name</th>
		  <th sortable="email" (sort)="onSort($event)">Email</th>
		  <th sortable="dob" (sort)="onSort($event)">DOB</th>
          <th>Actions</th>	  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users ">
		  <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
		  <td>{{user.email}}</td>
		  <td>{{user.dob}}</td>
          <td>
              <button (click)="editUser(user.id)" class="btn btn-info" >Edit</button>
			  <button (click)="deleteDialog(user.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


